<div class="d-flex justify-content-around mt-5">
  <div class="card" style="width: 18rem;">
    <img src="https://images.squarespace-cdn.com/content/v1/5d2df40b83f6d80001177ebd/1671694592641-QZQCLE4C4PFKAF6ZL3IA/Decorazione+e+Wrapping+automezzi+aziendali%2C+veicoli+commerciali+e+furgoni+%2812%29.png?format=500w" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Automezzi</h5>
      <p class="card-text">All'interno troverai la lista completa del parco Automezzi</p>
      <a [routerLink]="['/automezzi']" class="btn btn-primary">Lista Automezzi</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://www.irinoxprofessional.com/media/1083/w-500/h-500/azienda-500x500-1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Filiali</h5>
      <p class="card-text">All'interno troverai la lista delle Filiali disponibili</p>
      <a [routerLink]="['/filiali']" class="btn btn-primary">Lista Filiali</a>
    </div>
  </div>
</div>

